SOURCECODE/DHKTPM13A_TDNguyen_PDLoi_PTBinh_GUI/DHKTPM13A_TDNguyen_PDLoi_PTBinh_GUI/Connected Services/ServiceRapChieuPhim/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="KiemTraNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taikhoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="KiemTraDangNhapResult" nillable="true" type="q1:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nvmoi" nillable="true" type="q2:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nvsua" nillable="true" type="q3:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachNhanVienResult" nillable="true" type="q4:ArrayOfeNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaNhanVienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimNhanVienTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manhanvien" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimNhanVienTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimNhanVienTheoMaResult" nillable="true" type="q5:eNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatLaiMatKhau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maNV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatLaiMatKhauResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="kh" nillable="true" type="q6:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="kh" nillable="true" type="q7:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachKhachHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachKhachHangResult" nillable="true" type="q8:ArrayOfeKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaKhachHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaKhachHangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimKhachHangTheoMaResult" nillable="true" type="q9:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoSDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoSDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimKhachHangTheoSDTResult" nillable="true" type="q10:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKhachHangTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimKhachHangTheoTenResult" nillable="true" type="q11:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="hoadonmoi" nillable="true" type="q12:eHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemHoaDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHoaDonTheoThang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachHoaDonTheoThangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachHoaDonTheoThangResult" nillable="true" type="q13:ArrayOfeHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaHoaDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaHoaDonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCT_DichVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="ctDVmoi" nillable="true" type="q14:eCT_HoaDon_DichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCT_DichVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemCT_DichVuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDichVuTheoHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahoadon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDichVuTheoHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachDichVuTheoHoaDonResult" nillable="true" type="q15:ArrayOfeCT_HoaDon_DichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDichVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="dichvumoi" nillable="true" type="q16:eDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDichVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemDichVuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDichVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="dichvusua" nillable="true" type="q17:eDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDichVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaDichVuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDichVu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachDichVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachDichVuResult" nillable="true" type="q18:ArrayOfeDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDichVuTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDichVuTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDichVuTheoMaResult" nillable="true" type="q19:eDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaDichVu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaDichVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaDichVuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemVe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="xcmoi" nillable="true" type="q20:eVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemVeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemVeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachVeTheoXuatChieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxuat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachVeTheoXuatChieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachVeTheoXuatChieuResult" nillable="true" type="q21:ArrayOfeVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXuatChieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="xcmoi" nillable="true" type="q22:eXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemXuatChieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemXuatChieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaXuatChieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="xcsua" nillable="true" type="q23:eXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaXuatChieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaXuatChieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaXuatChieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="xcxoa" nillable="true" type="q24:eXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaXuatChieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaXuatChieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayXuatChieuTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maXuat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayXuatChieuTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayXuatChieuTheoMaResult" nillable="true" type="q25:eXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="eXuatChieus" nillable="true" type="q26:ArrayOfeXuatChieu" />
        <xs:element minOccurs="0" name="phong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaSuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachXuatChieuTheoNgayTheoPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphong" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachXuatChieuTheoNgayTheoPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachXuatChieuTheoNgayTheoPhongResult" nillable="true" type="q27:ArrayOfeXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachXuatChieuCuaPhimTheoNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachXuatChieuCuaPhimTheoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachXuatChieuCuaPhimTheoNgayResult" nillable="true" type="q28:ArrayOfeXuatChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="phongmoi" nillable="true" type="q29:ePhongChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemPhongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayPhongChieuTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayPhongChieuTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayPhongChieuTheoMaResult" nillable="true" type="q30:ePhongChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhongChieu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhongChieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachPhongChieuResult" nillable="true" type="q31:ArrayOfePhongChieu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaPhong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaPhongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachGheNgoiTheoPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachGheNgoiTheoPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachGheNgoiTheoPhongResult" nillable="true" type="q32:ArrayOfeGheNgoi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTrangThaiGhe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="ghe" nillable="true" type="q33:eGheNgoi" />
        <xs:element minOccurs="0" name="maphong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTrangThaiGheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatTrangThaiGheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="phimmoi" nillable="true" type="q34:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemPhimResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaPhim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="phimsua" nillable="true" type="q35:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaPhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaPhimResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachPhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachPhimResult" nillable="true" type="q36:ArrayOfePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaPhim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaPhimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaPhimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimPhimTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimPhimTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="TimPhimTheoMaResult" nillable="true" type="q37:ePhim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhaSanXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nsxmoi" nillable="true" type="q38:eNhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNhaSanXuatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhaSanXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="nsxsua" nillable="true" type="q39:eNhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaNhaSanXuatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNhaSanXuat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhSachNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="LayDanhSachNhaSanXuatResult" nillable="true" type="q40:ArrayOfeNhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNSX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhatSinhMaNSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhatSinhMaNSXResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayQuocGiaTheoMaNSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mansx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayQuocGiaTheoMaNSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LayQuocGiaTheoMaNSXResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeDoanhThuVe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tuNgay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="denNgay" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeDoanhThuVeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="thongKeDoanhThuVeResult" nillable="true" type="q41:ArrayOfeThongKeDoanhThuVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="hd" nillable="true" type="q42:eThongKeDoanhThuVe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="thongKeCTHDResult" nillable="true" type="q43:ArrayOfeThongKeCTHD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>